body {
    color: #666;
}

.centrado {
    text-align: center;
}

.espacios {
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    min-width: 0;
    max-width: 70%;
    padding: 20px;
}

.splash {
    width: 100%;
    height: 100vh;
    background: url(../images/black-and-white-laptop-computer-5.jpg)no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.splash h1 {
    background: #607D8B;
    color: whitesmoke;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

.text {
    margin-top: 10vh;
}

.splash .btn {
    background-color: #00BCD4;
    font-weight: 500;
}

.splash .btn:hover {
    background-color: tomato;
}

.row .col-md-3 .card {
    margin-top: 70px;
}

.row .col-md-3 {
    justify-content: center;
    display: flex;
}

#letritas {
    background: #f2f2f2;
}

i {
    color: #bc1142;
}

.painted {
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.frases i {
    font-size: 100px;
}

.frases h2 {
    padding: 20px;
}

.quotes p {
    padding: 30px;
}

.navbar-collapse {
    flex-grow: 0;
}

.displayflex {
    display: flex;
}

.minameis {
    background: #607D8B;
    color: whitesmoke;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

.im {
    display: inline-block;
}