@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200&display=swap');
* {
    box-sizing: border-box;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: #0a192f;
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.colorsectionone {
    background-color: #3C4F6B;
}

.colorsectiontwo {
    background-color: #0a192f;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: #61eace;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    color: #666;
    line-height: 1.3;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #3C4F6B;
}

.centrado {
    text-align: center;
}

.espacios {
    padding-top: 100px;
    padding-bottom: 100px;
}

.margines {
    margin-bottom: 20px;
}

.espacios1 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.jSIwrL {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 0px;
    z-index: 10;
    color: var(--light-slate);
}

.jJFfEJ {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.jJFfEJ a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--fz-xxs);
    line-height: var(--fz-lg);
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    font-weight: bold;
}

.jJFfEJ::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-slate);
}

.paddingforcol {
    padding: 60px;
}

.logo {
    min-width: 0;
    max-width: 70%;
    padding: 20px;
}

.habilidadeslogos {
    justify-content: space-around;
    max-width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #ccd6f6;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #61eace;
}

.navbar-light .navbar-toggler {
    background-color: #61eace;
}

.spancolor {
    color: #61eace;
}

.splash {
    width: 100%;
    height: 100vh;
    background: #0a192f;
    background-size: cover;
    display: flex;
}

.splash h1 {
    background: #0a192f;
    color: #ccd6f6;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
}

.splash h1::before {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid #61eace;
    border-radius: 5px;
    content: '';
    display: flex;
}

.text {
    margin-top: 10vh;
}

.splash .btn {
    background-color: #61eace;
    font-weight: 500;
}

.splash .btn:hover {
    background-color: #bc1142;
}

.row .col-md-3 .card {
    margin-top: 70px;
}

.col-md-4 h2 {
    color: #c6cfef;
}

.carousel {
    margin-bottom: 40px;
}

.carousel-inner {
    border-radius: 3px;
}

.row .col-md-3 {
    justify-content: center;
    display: flex;
}

#letritas {
    background: #0a192f;
}

.redi {
    color: #61eace;
}

.painted {
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.frases i {
    font-size: 100px;
}

.frases h2 {
    padding: 20px;
}

.quotes p {
    padding: 30px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    transition: top 0.3s;
}

.displayflex {
    display: flex;
}

.titlecolor {
    color: #c6cfef;
}

.minameis {
    background: #0a192f;
    color: whitesmoke;
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
}

.im {
    display: inline-block;
    color: #61eace;
}

.descripcion1 {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #0a192f;
    border-color: #1F437A;
    color: #c6cfef;
}

.btn-primary:hover {
    background-color: #61eace;
    border-color: #0a192f;
}

.card {
    border-color: #1F437A;
}

.card-body {
    background-color: #1F437A;
    color: #040508;
    font-weight: bold;
}

.card-title {
    color: #c6cfef;
    font-weight: bold;
}

.wrapper {
    display: inline-flex;
    padding: 30px;
    flex-wrap: wrap;
}

.wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #666;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover, .wrapper .facebook:hover .tooltip, .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
}

.wrapper .twitter:hover, .wrapper .twitter:hover .tooltip, .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
}

.wrapper .instagram:hover, .wrapper .instagram:hover .tooltip, .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
}

.wrapper .github:hover, .wrapper .github:hover .tooltip, .wrapper .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
}

.wrapper .youtube:hover, .wrapper .youtube:hover .tooltip, .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
}

section {
    justify-content: center;
    max-width: auto
}

footer {
    background-color: #0a192f;
    color: #61eace;
    padding: 1rem;
    place-items: center;
    display: grid;
    padding-top: 150px;
}

li {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: #61eace;
    opacity: 1;
}

a:hover {
    color: #666;
}

footer p {
    color: #f0f9ff;
    font-weight: bolder;
    opacity: 0.8;
}

.fotoinfo {
    min-width: 0;
    max-width: 70%;
    min-height: 0%;
    max-height: 70%;
    border-radius: 10px;
    float: right;
}

.imageContainer {
    position: relative;
}

.imageContainer::before {
    position: absolute;
    top: 3%;
    left: 18%;
    width: 68%;
    height: 100%;
    border: 1px solid #61eace;
    border-radius: 5px;
    content: '';
}

.imageContainer2 {
    position: relative;
}

.imageContainer2::before {
    position: absolute;
    top: 5%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid #61eace;
    border-radius: 5px;
    content: '';
}

.imageContainer3 {
    position: relative;
}

.imageContainer3::before {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 90%;
    height: 90%;
    border: 1px solid #61eace;
    border-radius: 5px;
    content: '';
}

.aligncenter {
    align-items: center;
}

.col-md-8 h2 {
    color: #c6cfef;
}

.col-md-8 p {
    color: #040508;
    font-weight: bold;
}

strong {
    color: #61eace;
}

#app2 {
    color: #ccd6f6;
}

.row>* {
    margin-bottom: 20px;
}

#wrapperskills {
    width: 70%;
    position: relative;
}

#containerskills {
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    background-color: #61eace;
}

#containerskills h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}

#containerskills * {
    color: black;
    font-weight: 500;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar {
    position: relative;
    border: 2px solid #0a192f;
    border-radius: 20px;
}

.bar div {
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0a192f;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

#html-bar {
    animation: html-fill 5s forwards;
}

@keyframes html-fill {
    100% {
        width: 90%;
    }
}

#css-bar {
    animation: css-fill 5s forwards;
}

@keyframes css-fill {
    100% {
        width: 75%;
    }
}

#javascript-bar {
    animation: js-fill 5s forwards;
}

@keyframes js-fill {
    100% {
        width: 72%;
    }
}

#jQuery-bar {
    animation: jQuery-fill 5s forwards;
}

@keyframes jQuery-fill {
    100% {
        width: 58%;
    }
}